:root {
    --content-width: 1440px;
    --container-offset: 20px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // Color
    --absolute-white: #ffffff;
    --absolute-black: #000000;

    --c-primary: #272a33;
    --c-secondary: #ee753e;


    // Fonts
    --font-family: "Open Sans", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Oswald", sans-serif;

    // Media
    @media (max-width: 1440px) {
        --content-width: 1160px !important;
    }

    @media (max-width: 1160px) {
        --content-width: 768px !important;
    }

    @media (max-width: 768px) {
        --content-width: 576px !important;
    }

    @media (max-width: 576px) {
        --content-width: 360px !important;
        --container-offset: 15px;
    }
}